<html>
<body>
	<p>
		Hey ${user.lastName}
	</p>
	<p>
		Follow this link to activate your account:
	</p>
	<p>
		<a target="_blank" href="http://www.meetforeal.com/confirmprofile.do?code=${user.profile.confirmationNumber}&email=${user.email}">http://www.meetforeal.com/confirmprofile.do?code=${user.profile.confirmationNumber}&email=${user.email}</a>
	</p>
	
	<p>
		<div>
			Come to our unique meetforeal events to learn something new, share your ideas and meet cool, interesting, 
			people in real life, with themes and topics that you are most passionate about; and reconnect online. 
		</div>
		Adrian & Ellen<br>
		Meetforeal Founders<br>
		<a href="mailto:adrian@meetforeal.com">adrian@meetforeal.com</a><br>		
		<a href="mailto:ellen@meetforeal.com">ellen@meetforeal.com</a><br>	
	</p>
</body>
</html>


